@font-face {
  font-family: Retina Book;
  src: url(retina_book.woff2);
}

@font-face {
  font-family: Retina Bold;
  src: url(retina_bold.woff2);
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Retina Book';
  font-size: 15px;
}

div.container {
  margin: 0 auto;
  width: 460px;
  padding: 0 20px;
}

div.header {
  margin: 50px 0;
}

img.profile-picture {
  border-radius: 50%;
  float: left;
  height: 100px;
  margin-right: 25px;
  width: 100px;
}

div.title {
  font-family: 'Retina Bold';
  font-size: 50px;
  margin-bottom: -5px;
  padding-top: 11px;
}

div.subtitle {
  color: rgba(0, 0, 0, 0.4);
}

svg.location-icon {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

div.navigation {
  display: flex;
  justify-content: space-around;
}

a.nav-link {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-family: 'Retina Book';
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

a.nav-link:hover {
  color: rgba(0, 0, 0, 0.87);
}

div.body {
  margin-top: 35px;
}

div.body-subtitle {
  font-family: 'Retina Bold';
  font-size: 20px;
  margin-top: 33px;
}

div.body-section {
  line-height: 20px;
  margin-top: 8px;
}

div.body-section.time {
  display: flex;
}

div.time-stamp {
  color: rgba(0, 0, 0, 0.4);
  flex-basis: 290px;
  font-style: italic;
  text-align: right;
}